body
{
    background-color: bisque;
}
.optionWrap
{
    border: solid;
    background-color: grey;
    margin: 50px;

}

.grabMe {
    display: none;
}

.moveContent {
    border: solid 1px;
    border-color: grey;
    padding: 20px;
    

    
}

body,
.test {
    background-color: lightblue;
}

