.body
{
    background-color: bisque;
}
.bastard
{
    padding: 10px;
    margin-left: 20px;
}
.hamburger
{ 
    margin-left: 360px;
}
.ingredients
{
    margin-left: 300px;
    margin-top: 10px;
}
.breadChoice
{
    margin-top: -20px;
    margin-left: 360px;
    margin-bottom: 20px;
}
.menuNav
{
    display: flex;
    background-color: lightgrey;
    justify-content: space-between;
    margin-right: 200px;
    margin-left: 50px;
}
.burgerPic
{
    margin-left: 250px;
    margin-bottom: 10px;
    border: solid 1px;
    box-shadow: 0px 5px 5px 0px black;
}
.items
{
    margin-left: 20px;
}
.logoHeader
{

    display: flex;
    justify-content: center;
}

.button{
    
    width: 28px;
    height: 28px;
    background: darkgray;
    border-radius: 50px;
    
}
.grabMe {
    display: none;
}
.grabMe2 {
    display: none;
}

/* .optionWrap {
    display: none;
} */