body
{
    background-color: bisque;
}
.menuNav
{
    display: flex;
    background-color: lightgrey;
    justify-content: space-between;
    margin-right: 200px;
    margin-left: 20px;
}
.items
{
    margin-left: 20px;
}

.button{
    
    width: 28px;
    height: 28px;
    background: darkgray;
    border-radius: 50px;
    
}
.grabMe {
    display: none;
}

.moveContent {
    border: solid 1px;
    border-color: grey;
    padding: 20px;
    

    
}

body,
.test {
    background-color: lightblue;
}

